@import "./variable.scss";

.convos_main {
  background: rgb(228, 228, 228);
  height: calc(100vh - 55px);
  padding: 10px;
  animation: popin 300ms ease-in 1;
  opacity: 1;
  transform: scale(1);
  .convos_container {
    position: relative;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
    height: 100%;
    min-height: 100%;

    .users_section {
      background: $secondary;
      grid-column: span 2;
      height: 100%;
      overflow: hidden;
      border-radius: 10px;

      display: flex;
      .currentUser_section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        max-width: 80px;
        border-right: 1px solid white;
        background: $linear;
        position: relative;

        .dropdown_menu {
          color: #b4b1b1;
          padding: 0 5px;
          left: 0;
          right: 0;
          cursor: pointer;
          position: absolute;
          right: 0;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          ul {
            position: absolute;
            background: $linear;
            color: white;
            width: max-content;
            padding: 5px 10px;
            border-radius: 1px 10px 10px 10px;
            font-size: 15px;
            left: 100%;
            display: none;
            z-index: 1000;

            li {
              &:hover {
                opacity: 0.7;
              }
            }
          }

          &:hover > ul {
            display: unset;
          }
        }
      }
      .users {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        color: white;

        .users_wrapper {
          flex: 1;
        }

        .user {
          display: flex;

          li {
            width: 40px;
            height: 40px;
            border-radius: 50px;

            margin-left: 10px;
            cursor: pointer;
            position: relative;

            img {
              border-radius: 50px;
            }

            p {
              position: absolute;
              z-index: 1000;
              top: 0;
              left: 100%;
              background: $linear;
              padding: 5px 10px;
              border-radius: 20px;
              display: none;
            }

            &:hover > p {
              display: block;
            }
          }
        }
      }
    }
    .convos_messages_main {
      grid-column: span 2;
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 100%;
      padding-top: 5px;

      overflow: hidden;
      .convos_messages {
        width: 100%;
        height: 100%;
        padding: 0 10px;
        max-height: 100%;
        overflow: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          background: $linear;
        }

        .message {
          height: 60px;
          width: 100%;
          background: $secondary;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
          color: $text;
          margin-top: 5px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }

          .message_dp {
            background: $linear;
            border-radius: 50px;
          }

          .message_content {
            flex: 1;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 10px;
          }
        }
      }
      .active_convo_message_main {
        width: 100%;
        height: 100%;
        margin-top: 5px;

        .active_convo_messages_wrapper {
          width: 100%;
          color: white;
          max-height: 100%;
          background: $secondary;
          height: 100%;
          display: grid;
          grid-template-rows: auto 1fr auto;
          .active_convo_header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;
            border-bottom: 1px solid rgba(223, 223, 223, 0.5);

            .left {
              display: flex;
              align-items: center;
              background: $linear;
              border-radius: 50px;

              h5 {
                padding: 0 5px;
              }
            }

            .right {
              display: flex;

              > .action {
                width: 30px;
                height: 30px;
                background: $linear;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                box-shadow: 0 1px 2px 1px black;
                cursor: pointer;
                margin-right: 10px;
              }
            }
          }
          .conversation {
            width: 100%;
            height: 100%;
            max-height: 100%;
            display: flex;
            flex-direction: column;
            overflow: visible;
            overflow-x: hidden;

            padding: 0 10px;

            &::-webkit-scrollbar {
              width: 5px;
            }
            &::-webkit-scrollbar-thumb {
              background: rgb(172, 172, 172);
              border-radius: 50px;
            }
          }
        }

        @media screen and (max-width: "780px") {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 0;
          overflow: hidden;
        }
      }
    }
  }

  @keyframes convos {
    0% {
      transform: scale(0.9);
      opacity: 0.2;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
