.convos_main {
  background: rgb(179, 179, 179);
  height: calc(100vh - 55px);
  padding: 10px;
  animation: popin 300ms ease-in 1;
  opacity: 1;
  transform: scale(1);
  .convos_container {
    height: 100%;
    position: relative;
    overflow: hidden;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 50px auto 1fr;
    > .nav {
      grid-column: span 2;
      margin-bottom: 5px;
    }
    .convos_header {
      background: navy;
      grid-column: span 2;
      height: 100%;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 2px 2px 0 black;
      z-index: 2;
      .convos_header_right {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        .convos_btn {
          width: 30px;
          height: 30px;
          background: linear-gradient(90deg, purple, navy);
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          box-shadow: 0 1px 2px 1px black;
          cursor: pointer;
          margin-right: 5px;
        }
      }
      .convos_header_left {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        width: 40px;

        .convo_settings {
          position: absolute;
          right: 0;
          background: rgb(248, 248, 250);
          width: 200px;
          top: 100%;
          border-radius: 20px 0 20px 20px;
          overflow: hidden;
          height: 0;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            background: navy;
            margin-top: 1px;
            padding: 5px 10px;
            height: 40px;
            font-size: 0.9rem;
            &:hover {
              color: rgb(196, 196, 196);
            }
          }
        }
        .dropdown_menu {
          width: 200px;
          position: relative;
          display: flex;
          justify-content: flex-end;
          .dropdown_btn {
            width: 30px;
            height: 30px;
            background: linear-gradient(90deg, purple, navy);
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            box-shadow: 0 1px 2px 1px black;
            cursor: pointer;
            margin-right: 5px;

            &:hover ~ .convo_settings {
              height: unset;
            }
          }
        }
        &:hover .convo_settings {
          height: unset;
        }
      }
    }
    .active_friends_section {
      background: navy;
      grid-column: span 2;
      height: 0px;
      overflow: hidden;

      display: flex;
      .profile_section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        max-width: 80px;
        border-right: 1px solid white;
        background: navy;
        position: relative;

        .dropdown_menu {
          color: #b4b1b1;
          padding: 0 5px;
          left: 0;
          right: 0;
          background: rgba(42, 0, 231, 0.1);
          cursor: pointer;
          position: absolute;
          right: 0;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          ul {
            position: absolute;
            background: linear-gradient(navy, purple);
            color: white;
            width: max-content;
            padding: 5px 10px;
            border-radius: 1px 10px 10px 10px;
            font-size: 15px;
            left: 100%;
            display: none;

            li {
              &:hover {
                opacity: 0.7;
              }
            }
          }

          &:hover > ul {
            display: unset;
          }
        }
      }
      .active_freinds {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        color: white;

        .active_friend_wrapper {
          flex: 1;
        }
      }
    }
    .convos_messages_main {
      grid-column: span 2;
      display: flex;
      justify-content: space-between;
      position: relative;
      height: 100%;
      max-height: 100vh;
      .convos_messages {
        width: 100%;
        overflow: visible;
        overflow-x: hidden;
        padding: 0 10px;
        max-height: 100%;

        &::-webkit-scrollbar {
          width: 8px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 20px;
          background: linear-gradient(90deg, purple, navy);
        }

        .message {
          height: 60px;
          width: 100%;
          background: navy;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          color: white;
          margin-top: 5px;

          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }

          .message_content {
            flex: 1;
            height: 100%;
            display: grid;
            margin-left: 10px;
            .name {
              box-shadow: 0 1px 1px 0 rgb(182, 182, 182);
            }
            .message_text {
              height: 100%;
              margin-top: 5px;
              color: gray;
              display: flex;
            }
            .time {
              font-size: 10px;
              color: gray;
            }
          }
        }
      }
      .active_convo_message_main {
        width: 100%;
        height: 100%;

        .active_convo_messages_wrapper {
          width: 100%;
          color: white;

          background: linear-gradient(90deg, purple, navy);
          height: 100%;
          display: grid;
          grid-template-rows: auto 1fr;
          .active_convo_header {
            background: gray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px 10px;

            .left {
              display: flex;
              align-items: center;
            }

            .right {
              display: flex;

              > .action {
                width: 30px;
                height: 30px;
                background: linear-gradient(90deg, purple, navy);
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50px;
                box-shadow: 0 1px 2px 1px black;
                cursor: pointer;
                margin-right: 10px;
              }
            }
          }
          .conversation {
            background: linear-gradient(navy, purple);
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .coversation_messages {
              background: white;
              width: 100%;
              overflow: visible;
              overflow-x: hidden;
              height: 100%;
              max-height: 100%;

              &::-webkit-scrollbar {
                width: 20px;
              }
              &::-webkit-scrollbar-thumb {
                background: linear-gradient(purple, navy);
                border-radius: 50px;
              }
            }
            .conversaton_action {
              width: 100%;
              min-height: 50px;
              background: rgb(230, 17, 17);
            }
          }
        }

        @media screen and (max-width: "780px") {
          position: absolute;
          top: 0;
          bottom: 0;
        }
      }
    }
  }

  @keyframes convos {
    0% {
      transform: scale(0.9);
      opacity: 0.2;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}
