.header_main {
  position: relative;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  .header_container {
    min-height: 55px;
    width: 100%;
    background: linear-gradient(navy, rgb(3, 3, 230), navy);
    box-shadow: 0 4px 4px 1px rgb(7, 7, 7);
    color: white;
    padding: 0 10px;

    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;

    //   left sidebar
    .left_header {
      display: flex;
      align-items: center;
      color: #fdd4ef;
    }

    // nav_center start
    .navbar_center_main {
      visibility: hidden;
      @media screen and (max-width: "780px") {
        visibility: visible;
      }
    }
    // nav center ends

    //   Right header
    .right_header {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .profile {
        display: flex;
        align-items: center;
        .profile_image_container {
          width: 40px;
          height: 40px;

          display: flex;
          justify-content: center;
          align-items: center;
          .profile_image {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            color: navy;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
