@import "./variable.scss";
// header navbar starts
.header_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  background: $secondary;
  color: $dark;
  padding: 10px 0 10px;

  border-radius: 10px;
  position: relative;
  height: 50px;
  width: 100%;
  .user_access {
    height: 40px;
    width: 100%;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    // search
    .search {
      display: flex;
      align-items: center;
      color: $primary;
      .input_wrapper {
        margin: 0 5px;
        transition: all ease-in 200ms;

        input {
          height: 40px;
          border-radius: 10px;
          padding: 0 10px;
        }
        @media screen and (max-width: "780px") {
          transform: translate(40px, 0);
          position: absolute;
          width: 0;
          overflow: hidden;
          transition: all ease-in 500ms;
        }
      }
      .input_wrapper_expand {
        width: unset;
      }

      .search_btn {
        height: 40px;
        width: 40px;
        background: $secondary;
        color: $primary;
        font-size: 18px;
        font-weight: bold;

        @media screen and (max-width: "780px") {
          border-right: 2px solid $dark;
          margin-right: 5px;
        }
      }
    }

    .entertainments {
      flex: 1;
      display: flex;
      align-items: center;

      i {
        pointer-events: none;
      }
      a {
        color: $dark;
      }
      .entertainment {
        width: 40px;
        height: 40px;

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 5px;
        cursor: pointer;
      }
    }
  }
}
.header_navbar_user {
  visibility: visible;
}
// header navbar ends
