.signup_main {
  background: rgb(207, 207, 207);
}
.signup_container {
  width: 100%;
  min-height: calc(700px - 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 20px;
  animation: popin 300ms ease-in 1;
  opacity: 1;
  transform: scale(1);

  .signup_form_group {
    width: 500px;
    max-width: 100%;
    min-height: 500px;
    background: rgb(1, 1, 116);
    box-shadow: 0 0 3px 0 rgb(0, 0, 0);
    margin: 0 10px 0;
    padding: 10px 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;

    .signup_form_header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      background: rgb(0, 0, 90);
      margin-top: 5px;
      border-radius: 5px;
      box-shadow: 0 1px 2px 0 rgb(128, 127, 127);
    }

    .form {
      flex: 1;
      display: grid;
      justify-items: center;
      width: 100%;
      .input_group {
        display: grid;
        width: 100%;
        margin-bottom: 10px;

        label {
          color: rgb(204, 204, 204);
        }

        input {
          width: 100%;
          height: 40px;
          padding: 0 10px 0;
          outline: none;
          border: none;
          border-radius: 5px;
          box-shadow: 0 2px 1px 1px $secondary;
          &:hover {
            border: 2px solid $secondary;
          }
          &:focus {
            box-shadow: 0 0 3px 1px $thirshary;
            border: none;
          }
        }
      }
      .signup_btn {
        background: linear-gradient(90deg, purple, navy);
        height: 50px;
        height: 50px;
        padding: 10px 30px;
        margin: 10px;
        color: white;
        border: none;
        outline: none;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 2px 1px rgb(143, 143, 143);
        &:hover {
          transform: scale(0.9);
        }
      }
    }

    // or
    .or {
      color: white;
      text-align: center;
    }

    .social_auth {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 10px;

      .social {
        background: linear-gradient(90deg, purple, navy);
        color: rgb(190, 190, 190);
        box-shadow: -2px 0 1px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        cursor: pointer;
        margin: 0 10px;
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
    // Signup footer
    .signup_form_footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      background: rgb(1, 1, 102);
      margin-top: 5px;
      border-radius: 5px;
      padding: 10px;
    }
  }
}
