.wall_right_container {
  display: flex;
  justify-content: flex-end;
}
.right_sidebar {
  background: linear-gradient(navy, rgb(3, 3, 230), navy);
  position: relative;
  width: 100px;
  height: 100%;
  transition: all ease-in 300ms;
  z-index: 2;
  overflow: hidden;
  z-index: 100;
  ul {
    display: flex;
    flex-direction: column;

    li {
      margin: 10px 0;
      display: flex;
      justify-content: center;
      .message_btn {
        width: 40px;
        height: 40px;
        background: linear-gradient(90deg, purple, navy);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        box-shadow: 0 1px 2px 1px black;
        cursor: pointer;
        &:hover {
          transform: scale(0.9);
        }
      }
    }
  }
  @media screen and (max-width: "780px") {
    width: 0;
    position: absolute;
  }
}
.right_sidebar_off {
  width: 100px;
}
